<ul class="norm-of-sports">
    <li class="norm-of-sports-card">
        <svg class="dumbell-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-dumbbell"></use>
        </svg>

        <h3 class="static-block-title">Today <span class="all-time"></span> / 110 min</h3>
        <h3 class="static-block-title">You've burnt <span class="calories"></span> kcal today</h3>
        <p class="daily-norm-of-sports">Daily norm of sports</p>
    </li>
    <li class="norm-of-sports-card no-paddings">
        <picture>
            <source srcset="./img/favorits-women-m.jpg 1x, ./img/favorits-women-m@2x.jpg 2x" media="(max-width: 767px)" />
            <source srcset="./img/favorits-women-p.jpg 1x, ./img/favorits-women-p@2x.jpg 2x"
                media="(min-width: 768px) and (max-width: 1440px)" />
            <source srcset="./img/favorits-women.jpg 1x, ./img/favorits-women@2x.jpg 2x" media="(min-width: 1441px)" />
            <img class="women-outdoors-card" style="object-fit: cover" src="./img/favorits-women.jpg" srcset="./img/favorits-women.jpg 1x, ./img/favorits-women@2x.jpg 2x" alt="Women sportswear working out outdoors" />
        </picture>
    </li>
</ul>
