<footer>
    <div class="footer-container container">
        <div class="footer-content">
            <div class="footer-logo-socials">
                <a class="logo" href="./" aria-label="Your Energy Home Page">
                    <svg class="logo-icon" height="24" width="132" role="img" aria-hidden="true">
                        <use href="./img/icons.svg#icon-logo"></use>
                    </svg>
                </a>
                <ul class="footer-socials socials">
                    <load src="partials/socials.html" />
                </ul>
            </div>
            <div class="footer-text">
                <p>Transforming your <em>body</em> shape with us</p>
            </div>
            <div class="footer-subscribe">
                <p class="footer-subscribe-title">
                    Subscribe and learn about new exercises!
                </p>
                <form class="footer-form">
                    <input
                        class="footer-input"
                        placeholder="Email"
                        name="email"
                        required
                    />
                    <button class="footer-button" type="submit">Send</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom-row">
            <div class="footer-rights">
                <p>Your Energy. All rights reserved.</p>
            </div>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <p>/</p>
                <a href="#">Terms of Service</a>
            </div>
            <div class="copyright">
                <p>©2023</p>
            </div>
        </div>
    </div>
</footer>
