<header class="header">
    <div class="container">
        <div class="header-container">
            <nav class="header-nav">
                <a class="logo" href="./" aria-label="Your Energy Home Page">
                    <svg class="logo-icon" width="132" height="24" role="img" aria-hidden="true">
                        <use href="./img/icons.svg#icon-logo"></use>
                    </svg>
                </a>
                <button
                    class="mobile-menu-open-btn btn"
                    type="button"
                    aria-label="Open mobile menu button"
                    aria-controls="mobile-menu"
                >
                    <svg class="menu-icon" width="32" height="32">
                        <use href="./img/icons.svg#icon-mobile-menu"></use>
                    </svg>
                </button>
                <ul class="nav-list">
                    <li class="nav-item active">
                        <a class="nav-link" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./favorites.html"
                            >Favorites</a
                        >
                    </li>
                </ul>
            </nav>
            <ul class="header-socials socials">
                <load src="partials/socials.html" />
            </ul>
        </div>
    </div>
    <load src="partials/mobile-menu.html" />
</header>
