<div class="mobile-menu" id="mobile-menu">
  <button
    class="mobile-menu-close-btn btn"
    type="button"
    aria-label="Mobile menu close button"
  >
    <svg class="mobile-menu-close-icon" width="24" height="24">
      <use href="./img/icons.svg#icon-close-modal"></use>
    </svg>
  </button>

  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="./">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="./favorites.html">Favorites</a>
    </li>
  </ul>

  <ul class="mobile-menu-socials socials">
    <load src="partials/socials.html" />
  </ul>
</div>
