<div class="quote-of-day">
    <div class="quote-icon-wrapper">
        <svg width="18" height="20"  viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg">
            <use href="./img/icons.svg#icon-running-stick-figure"></use>
        </svg>
    </div>
    <div class="quote-wrapper">
        <div class="quote-title">
            Quote of the day
            <svg width="20" height="20"  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <use href="./img/icons.svg#icon-inverted-commas"></use>
            </svg>
        </div>
        <blockquote class="blockquote">
            <p class="blockquote-text"></p>
        </blockquote>
        <p class="quote-author"></p>
    </div>
</div>